

<div class="show-container">

<%= link_to "<", root_path, class: "btn-ghost"  %>
  <div class="container">
    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1471248026681-35a45d5530a3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1518&q=80" />
      <div class="card-product-infos">
        <h1><%= @town.name %></h1>
        <% if @town_detail[2].join == "" %>
          <p>No wikipedia results for this town.</p>
          <a href=<%= @town_detail[3].join %>>Try this instead</a>
        <% elsif @town_detail[2].join.include? ("may refer to:") %>
          <p>No wikipedia page for this town.</p>
        <% else %>
          <p><%= @town_detail[2].join %></p>
          <a href=<%= @town_detail[3].join %> target= "_blank">Visit <%= @town.name %> </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
